
.c-wh-pLG{
	background-color:#f2f2f2;
}
.uinn-pLb1{
	padding-bottom:0.7em;
}
.userImg{
	background-image:url('myImg/userImg.png');
}
.pwdImg{
	background-image:url('myImg/pwdImg.png');
}
.b-gra3{
	border-color:#d8d8d8;
}
.uinn-a4{
	padding:0.9em 0.625em 0.8125em 0.625em;
}
.t-gra2 {
	color: #d8d8d8;
}
.t-gra3 {
	color: #484848;
}
.mar-ar2 {
margin-right: 0.375em;
}
.uinn-a5 {
padding: 0.8125em 0.625em 0.9em 0.625em;
}
.uinn-a6 {
padding: 1em 0.65em 0 0.65em;
}
.uinn-a1{
    padding:0.625em;
}
.c-wh{
    background-color: white;
}
